.current-strands-board {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  height: 422px;
}

.current-strand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 324px;
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.strand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  /* background-color: #fff; */
  color: black;
  font-size: 26px;
  margin: 3px;
  border-radius: 50%;
}

.strand:hover {
  background-color: #dbd8c5;
  cursor: pointer;
  border-radius: 50%;
}

.highlighted {
  /* background-color: #dbd8c5; */
  outline: 3px dashed #4a4a49;
  border-radius: 50%;
}

.found {
  background-color: #aedfee;
  outline: 0px solid #aedfee;
  border-radius: 50%;
}

.found-and-in-spanGram {
  background-color: #f8cb2c;
  outline: 0px solid #f8cb2c;
  border-radius: 50%;
}
