.found-words {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.found-word-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.found-word {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.in-list {
  background-color: #aedfee;
}

.in-list:hover {
  background-color: #0d8cd8;
  color: white;
}

.spangram {
  background-color: #e4f878;
}

.spangram:hover {
  background-color: #ccd431;
  color: white;
}