.header {
  display: flex;
  margin-top: 30px;
}

.question-icon {
  font-weight: 600;
  color: var(--font-color);
  font-size: x-large;
  margin-left: 10px;
  margin-top: 22px;
}

.question-icon:hover {
  cursor: pointer;
  color: var(--spangram);
}
.question-icon:focus {
  cursor: pointer;
  color: var(--spangram);
}

@media screen and (max-width: 1029px) {
  .header {
    margin-top: 0;
  }
  
}